.noAni{
    animation: noAni 1s infinite;
}
@keyframes noAni {
    0% {
        transform: rotate(0deg) translate(0,0) skewY(0deg);
    }
}


.moveSquirrel{
    animation: moveSquirrel 5s infinite;
}
@keyframes moveSquirrel {
    0% {
        transform: rotate(0deg) translate(0,0);
    }
    20% {
        transform: rotate(-3deg) translate(2%, 2%);
    }
    40% {
        transform: rotate(2deg) translate(-3%, -2%);
    }
    60% {
        transform: rotate(-4deg) translate(6%, 4%);
    }
    80% {
        transform: rotate(2deg) translate(-3%, -3%);
    }
    100% {
        transform: rotate(0deg) translate(0%, 0%);
    }
}


.moveTail{
    animation: moveTail 5s infinite;
}
@keyframes moveTail {
    0% {
        transform: rotate(0deg) ;
    }
    20% {
        transform: rotate(1deg) skewY(1deg);
    }
    40% {
        transform: rotate(2deg) skewY(-1deg);
    }
    60% {
        transform: rotate(2deg) skewY(1deg);
    }
    80% {
        transform: rotate(1deg) skewY(-3deg);
    }
    100% {
        transform: rotate(0deg) ;
    }
}


.moveEyes{
    animation: moveEyes 5s infinite;
}
@keyframes moveEyes {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(360deg);
    }
    75% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.movePupils{
    animation: moveEyes 1.5s infinite;
}
@keyframes moveEyes {
    0% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

.moveBelly{
    animation: moveBelly 1.5s infinite;
}
@keyframes moveBelly {
    0% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(359deg);
    }
}