.moveBackground9{
    animation: moveBackground9 25s infinite;
}
    @keyframes moveBackground9 {
        0% {
            background-color: #e5e5f7;
            background-image: linear-gradient(0deg, #e5e5f7 50%, #0754ab 50%);
            background-size: 70px 70px;
        }
        25% {

            background-color: #e5e5f7;
            background-image: linear-gradient(0deg, #e5e5f7 50%, #0754ab 50%);
            background-size: 200px 200px;

        }
        50% {

            background-color: #e5e5f7;
            background-image: linear-gradient(50deg, #e5e5f7 50%, #0754ab 50%);
            background-size: 90px 90px;

        }
        75% {

            background-color: #e5e5f7;
            background-image: linear-gradient(0deg, #e5e5f7 50%, #0754ab 50%);
            background-size: 150px 150px;

        }
        100% {
            background-color: #e5e5f7;
            background-image: linear-gradient(0deg, #e5e5f7 50%, #0754ab 50%);
            background-size: 70px 70px;
        }
}