body { 
    background-color: #000000;
    color: white;
}

/*############################*/

.dnaDiv {
    background-color: gainsboro;
    padding: 5px 10px 5px 10px;
    color: black;
    width: 340px;
}


/*############################*/

.squirrelBox {
    background-color: black;
    padding-bottom: 20px;
}


.squirrelBoxBG1 {
    border-radius: 10px;
    
    height: 660px;
    background-blend-mode: color-burn;
    background-color: blue;
    background-image: repeating-radial-gradient(circle, purple, aqua, black, purple, lime, black, purple,
    lime, black, aqua, purple,  lime, black, aqua, purple,  black, lime, black, 
    purple,  lime, black, aqua, purple, lime, black,   lime, 
    black, purple,  lime, black, lime,  purple, aqua,   black, lime,   black, 
    purple, black, lime, purple,  black, aqua, purple, black, lime,  black, 
    purple, aqua, black, lime, purple, aqua, black, lime,  purple);
    
}

.squirrelBoxBG2 {
    border-radius: 50%;
    height: 300;
    width: 300;
    position:relative;
    top: 170;
}


/*############################*/


.attributesBox {
    background-color: rgb(0, 0, 0);
    padding-bottom: 20px;
    
}

.attributes {
    background-color: #282828;
    border-radius: 10px;
    border-color: whitesmoke;
    border-style: solid;
    border-width: 3px;
    height: 660px;
    font-size: 13px;
}

.btnTabs {
    font-size: 13px;
    font-weight: bold;
    background-color: black;
    color: white;
    border-color: whitesmoke;
    border-style: solid;
    border-width: 2px;
}

.btnTabs:hover {
    background-color:rgb(100, 100, 100);
    color: white;
}

.btnRandomize {
    font-size: 13px;
    font-weight: bold;
    background-color:rgb(100, 100, 100);
    color: white;
    border-color: whitesmoke;
    border-style: solid;
    border-width: 2px;
}

.btnRandomize:hover {
    background-color: rgb(28, 47, 125);
    color: white;
}

.btnDefault {
    font-size: 13px;
    font-weight: bold;
    background-color:rgb(100, 100, 100);
    color: white;
    border-color: whitesmoke;
    border-style: solid;
    border-width: 2px;
}

.btnDefault:hover {
    background-color: rgb(76, 28, 125);
    color: white;
}

.btnCreate {
    font-size: 13px;
    font-weight: bold;
    background-color:rgb(100, 100, 100);
    color: white;
    border-color: whitesmoke;
    border-style: solid;
    border-width: 2px;
}

.btnCreate:hover {
    background-color: rgb(28, 125, 101);
    color: white;
}



/*############################*/



.squirrel {
    position: relative;
    top: -250;
    margin-left: -40px;

}

.face {
    
    background-blend-mode:darken;
    background-color: rgba(46, 46, 46, .75);
    background-image: radial-gradient(rgba(96, 56, 31, .75) 0%, rgba(32, 32, 32, .75) 70%);
    width: 190px;
    height: 180px;
    border-radius: 75% 75% 30% 30%;
    position: relative;
    top: 35px;
    z-index: 3;
    margin-left: 30px; 
    border-color: rgb(0, 0, 0);
    border-style: double;
    border-width: 5px;
    
}

.eyes {
    position: relative;
    top: 25px;
    display: flex;
}

.eye1 {
    background-blend-mode:darken;
    background-image: repeating-radial-gradient(purple, aqua, teal, blue, 
    purple, aqua, teal, blue);
    background-color: rgb(32, 219, 185);
    border-radius: 70%;
    width: 70px;
    height: 80px;
    margin: 10px;
    position: relative;
    border-color: black;
    border-style: solid;
}

.eye2 {
    background-blend-mode:darken;
    background-image: repeating-radial-gradient(purple, aqua, teal, blue, 
    purple, aqua, teal, blue);
    background-color: rgb(32, 219, 185);
    border-radius: 70%;
    width: 70px;
    height: 80px;
    margin: 10px;
    position: relative;
    border-color: black;
    border-style: solid;
}

.pupils {
    background-color: black;
    border-color: whitesmoke;
    border-style: double;
    border-width: 4px;
    width: 40px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 13px;
    left: 13px;
}

.innerPupils {
    background-color: black;
    border-color: whitesmoke;
    border-style: double;
    border-width: 4px;
    width: 30px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 18px;
    left: 18px;
}

.ears {
    position: relative;
    z-index: 0;
    margin-left: 42px;
    top: 5px;
    
}

.leftEar {
    background-blend-mode:darken;
    background-color: rgba(46, 46, 46, .75);
    background-image: radial-gradient(rgba(96, 56, 31, .75) 0%, rgba(32, 32, 32, .75) 70%);
    height: 75px;
    width: 110px;
    border-radius: 5% 85% 15% 95%;
    position: absolute; 
    transform: rotate(35deg);
    border-color: rgb(0, 0, 0);
    border-style: double;
    border-width: 5px;
    top: 20px;
}

.innerLeftEar {
    background-color: rgb(217, 74, 103);
    height: 25px;
    width: 30px;
    border-radius: 5% 85% 15% 95%;
    position: absolute; 
    top: 10px;
    left: 13px;
}

.rightEar {
    background-blend-mode:darken;
    background-color: rgba(46, 46, 46, .75);
    background-image: radial-gradient(rgba(96, 56, 31, .75) 0%, rgba(32, 32, 32, .75) 70%);
    height: 75px;
    width: 110px;
    border-radius: 5% 85% 15% 95%;
    position: absolute; 
    transform: scale(-1, 1) rotate(35deg);
    left: 60px;
    border-color: rgb(0, 0, 0);
    border-style: double;
    border-width: 5px;
    top: 20px;
}

.innerRightEar {
    background-color: rgb(217, 74, 103);
    height: 25px;
    width: 30px;
    border-radius: 5% 85% 15% 95%;
    position: absolute; 
    top: 10px;
    left: 13px;
}

.nose {
    background-color: rgb(217, 74, 103);
    border-color: black;
    border-style: solid;
    height: 20px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    left: 77px;
    top: 105px;
    
}

.mouth {
    background-color: rgb(0, 0, 0);
    height: 30px;
    width: 100px;
    border-radius: 0% 0% 50% 50%;
    position: absolute;
    left: 40px;
    top: 135px;
}

.leftTooth {
    background-color: rgb(255, 255, 255);
    height: 30px;
    width: 25px;
    position: absolute;
    left: 25px;
    border-right: 3px solid rgb(0, 0, 0);
}

.rightTooth {
    background-color: rgb(255, 255, 255);
    height: 30px;
    width: 25px;
    position: absolute;
    left: 50px;
    border-left: 3px solid rgb(0, 0, 0);
}

.body {
    background-blend-mode:darken;
    background-color: rgba(46, 46, 46, .75);
    background-image: radial-gradient(rgba(96, 56, 31, .75) 0%, rgba(32, 32, 32, .75) 70%);
    width: 190px;
    height: 220px;
    margin-left: 40px;
    border-radius: 90px 90px 95px 95px;
    border-color: rgb(0, 0, 0);
    border-style: double;
    border-width: 5px;
    transform: rotate(0deg);
    z-index: 2;
}

.belly {

    background-blend-mode:darken;
    background-image: repeating-radial-gradient(purple, aqua, teal, blue, 
    purple, aqua, teal, blue, purple, aqua, teal, blue, 
    purple, aqua, teal, blue, purple, aqua, teal, blue, 
    purple, aqua, teal, blue);
    background-color: rgb(32, 219, 185);
    width: 110px;
    height: 150px;
    margin-left: 32px;
    border-radius: 95px 95px 90px 90px;
    border-color: rgb(0, 0, 0);
    border-style: double;
    border-width: 20px;
    transform: rotate(0deg);
    z-index: 2;
    top: 42px;
    position: absolute;
}

.innerBelly {

    background-blend-mode:darken;
    background-image: repeating-radial-gradient(purple, aqua, teal, blue, 
    purple, aqua, teal, blue, purple, aqua, teal, blue, 
    purple, aqua, teal, blue, purple, aqua, teal, blue, 
    purple, aqua, teal, blue);
    background-color: rgb(32, 219, 185);
    width: 65px;
    height: 100px;
    margin-left: 35px;
    border-radius: 95px 95px 90px 90px;
    border-color: rgb(0, 0, 0);
    border-style: double;
    border-width: 20px;
    transform: rotate(0deg);
    z-index: 2;
    top: 65px;
    left: 20px;
    position: absolute;
}

.tailAni{
    position: absolute;
    top: 0px;
    margin-left: 0px;
}

.tail {
    background-blend-mode:darken;
    background-color: rgba(46, 46, 46, .75);
    background-image: radial-gradient(rgba(96, 56, 31, .75) 0%, rgba(32, 32, 32, .75) 70%);
    width: 80px;
    height: 150px;
    margin-left: 195px;
    border-radius: 95px 5px 95px 5px;
    border-color: rgb(0, 0, 0);
    border-style: double;
    border-width: 5px;
    transform: scale(-1, 1) rotate(-65deg);
    position: absolute;
    top: 230px;

}

.innerTail {
    
    background-blend-mode:darken;
    background-image: repeating-radial-gradient(purple, aqua, teal, blue, 
    purple, aqua, teal, blue);
    background-color: rgb(32, 219, 185);
    width: 70px;
    height: 125px;
    border-radius: 95px 5px 95px 5px;
    border-color: rgb(0, 0, 0);
    border-style: double;
    border-width: 5px;
    position: absolute;
    top: 7px;
    right: 0px;
    z-index: 0;
}

.innerTail2 {
    background-blend-mode:darken;
    background-color: rgba(46, 46, 46, .75);
    background-image: radial-gradient(rgba(96, 56, 31, .75) 0%, rgba(32, 32, 32, .75) 70%);
    width: 45px;
    height: 110px;
    border-radius: 95px 5px 95px 5px;
    border-color: rgb(0, 0, 0);
    border-style: double;
    border-width: 5px;
    position: absolute;
    top: 10px;
    right: 7px;
    z-index: 0;
}

.innerTail3 {
    background-blend-mode:darken;
    background-image: repeating-radial-gradient(purple, aqua, teal, blue, 
    purple, aqua, teal, blue);
    background-color: rgb(32, 219, 185);
    width: 30px;
    height: 75px;
    border-radius: 95px 5px 95px 5px;
    border-color: rgb(0, 0, 0);
    border-style: double;
    border-width: 5px;
    position: absolute;
    top: 10px;
    right: 2px;
    z-index: 0;
}

.leftFoot {

    background-blend-mode:darken;
    background-color: rgba(46, 46, 46, .8);
    background-image: radial-gradient(rgba(96, 56, 31, .8) 0%, rgba(32, 32, 32, .8) 70%);
    width: 40px;
    height: 100px;
    margin-left:50px;
    border-radius: 95px 5px 95px 5px;
    border-color: rgb(0, 0, 0);
    border-style: double;
    border-width: 5px;
    position: absolute;
    top: 390px;
    transform: rotate(55deg);
}

.rightFoot {

    background-blend-mode:darken;
    background-color: rgba(46, 46, 46, .7);
    background-image: radial-gradient(rgba(96, 56, 31, .7) 0%, rgba(32, 32, 32, .7) 60%);
    width: 45px;
    height: 100px;
    margin-left: 150px;
    border-radius: 95px 5px 95px 5px;
    border-color: rgb(0, 0, 0);
    border-style: double;
    border-width: 5px;
    position: absolute;
    top: 390px;
    transform: rotate(50deg);
}

.toe1 {
    background-blend-mode:darken;
    background-image: repeating-radial-gradient(aqua, teal, blue);
    background-color: rgb(32, 219, 185);
    width: 10px;
    height: 20px;
    border-radius: 95px 5px 95px 5px;
    border-color: rgb(0, 0, 0);
    border-style: double;
    border-width: 3px;
    position: absolute;
    top: 71px;
    margin-left: 5px;
    transform: rotate(0deg);
}

.toe2 {
    background-blend-mode:darken;
    background-image: repeating-radial-gradient(aqua, teal, blue);
    background-color: rgb(32, 219, 185);
    width: 10px;
    height: 20px;
    margin-left: 19px;
    border-radius: 95px 5px 95px 5px;
    border-color: rgb(0, 0, 0);
    border-style: double;
    border-width: 3px;
    position: absolute;
    top: 62px;
    transform: rotate(0deg);
}

.toe3 {
    background-blend-mode:darken;
    background-image: repeating-radial-gradient(aqua, teal, blue);
    background-color: rgb(32, 219, 185);
    width: 10px;
    height: 20px;
    margin-left: 4px;
    border-radius: 95px 5px 95px 5px;
    border-color: rgb(0, 0, 0);
    border-style: double;
    border-width: 3px;
    position: absolute;
    top: 69px;
    transform: rotate(0deg);
}

.toe4 {
    background-blend-mode:darken;
    background-image: repeating-radial-gradient(aqua, teal, blue);
    background-color: rgb(32, 219, 185);
    width: 10px;
    height: 20px;
    margin-left: 18px;
    border-radius: 95px 5px 95px 5px;
    border-color: rgb(0, 0, 0);
    border-style: double;
    border-width: 3px;
    position: absolute;
    top: 60px;
    transform: rotate(0deg);
}

.rightThigh {
    background-blend-mode:darken;
    background-color: rgba(46, 46, 46, .7);
    background-image: radial-gradient(rgba(96, 56, 31, .7) 0%, rgba(32, 32, 32, .7) 60%);
    width: 75px;
    height: 95px;
    margin-left: 150px;
    border-radius: 80px 20px 80px 20px;
    position: absolute;
    top: 335px;
    transform: rotate(-20deg);
}

.rightThigh2 {
    background-blend-mode:darken;
    background-color: rgba(46, 46, 46, .7);
    background-image: radial-gradient(rgba(96, 56, 31, .7) 0%, rgba(32, 32, 32, .7) 60%);
    width: 75px;
    height: 95px;
    margin-left: 155px;
    border-radius: 80px 20px 80px 20px;
    position: absolute;
    top: 335px;
    transform: rotate(-20deg);
    border-color: rgb(0, 0, 0);
    border-style: double;
    border-width: 5px;
}

.rightThigh3 {
    background-blend-mode:darken;
    background-color: rgba(46, 46, 46, .7);
    background-image: radial-gradient(rgba(96, 56, 31, .7) 0%, rgba(32, 32, 32, .7) 60%);
    width: 75px;
    height: 95px;
    margin-left: 145px;
    border-radius: 80px 20px 80px 20px;
    position: absolute;
    top: 335px;
    transform: rotate(-20deg);
    border-color: rgb(0, 0, 0);
    border-style: double;
    border-width: 5px;
}

.leftThigh {

    background-blend-mode:darken;
    background-color: rgba(46, 46, 46, .7);
    background-image: radial-gradient(rgba(96, 56, 31, .7) 0%, rgba(32, 32, 32, .7) 60%);
    width: 70px;
    height: 84px;
    margin-left: 55px;
    border-radius: 80px 20px 80px 20px;
    position: absolute;
    top: 345px;
    transform: rotate(-25deg);
    z-index: 0;
}

.leftThigh2 {

    background-blend-mode:darken;
    background-color: rgba(46, 46, 46, .7);
    background-image: radial-gradient(rgba(96, 56, 31, .7) 0%, rgba(32, 32, 32, .7) 60%);
    width: 70px;
    height: 84px;
    margin-left: 50px;
    border-radius: 80px 20px 80px 20px;
    position: absolute;
    top: 345px;
    transform: rotate(-25deg);
    z-index: 0;
    border-color: rgb(0, 0, 0);
    border-style: double;
    border-width: 5px;
}

.leftThigh3 {

    background-blend-mode:darken;
    background-color: rgba(46, 46, 46, .7);
    background-image: radial-gradient(rgba(96, 56, 31, .7) 0%, rgba(32, 32, 32, .7) 60%);
    width: 70px;
    height: 84px;
    margin-left: 60px;
    border-radius: 80px 20px 80px 20px;
    position: absolute;
    top: 345px;
    transform: rotate(-25deg);
    z-index: 0;
    border-color: rgb(0, 0, 0);
    border-style: double;
    border-width: 5px;
}

.rightArm {

    background-blend-mode:darken;
    background-color: rgba(46, 46, 46, .7);
    background-image: radial-gradient(rgba(96, 56, 31, .7) 0%, rgba(32, 32, 32, .7) 60%);
    width: 40px;
    height: 100px;
    margin-left: 145px;
    border-radius: 80px 20px 80px 20px;
    position: absolute;
    top: 255px;
    transform: rotate(-85deg);
}

.leftArm {

    background-blend-mode:darken;
    background-color: rgba(46, 46, 46, .6);
    background-image: radial-gradient(rgba(96, 56, 31, .6) 0%, rgba(32, 32, 32, .6) 60%);
    width: 40px;
    height: 50px;
    margin-left: 25px;
    border-radius: 80px 20px 80px 20px;
    position: absolute;
    top: 280px;
    transform: rotate(-85deg);
    border-color: rgb(0, 0, 0);
    border-style: double;
    border-width: 5px;
}

.finger1 {
    background-blend-mode:darken;
    background-image: repeating-radial-gradient(aqua, teal, blue);
    background-color: rgb(32, 219, 185);
    width: 10px;
    height: 20px;
    margin-left: 10px;
    border-radius: 95px 5px 95px 5px;
    border-color: rgb(0, 0, 0);
    border-style: double;
    border-width: 3px;
    position: absolute;
    top: 5px;
    transform: rotate(0deg);
}

.finger2 {
    background-blend-mode:darken;
    background-image: repeating-radial-gradient(aqua, teal, blue);
    background-color: rgb(32, 219, 185);
    width: 10px;
    height: 20px;
    margin-left: 25px;
    border-radius: 5px 95px 5px 95px;
    border-color: rgb(0, 0, 0);
    border-style: double;
    border-width: 3px;
    position: absolute;
    top: 0px;
}

.finger3 {
    background-blend-mode:darken;
    background-image: repeating-radial-gradient(aqua, teal, blue);
    background-color: rgb(32, 219, 185);
    width: 10px;
    height: 20px;
    margin-left: 20px;
    border-radius: 95px 5px 95px 5px;
    border-color: rgb(0, 0, 0);
    border-style: double;
    border-width: 3px;
    position: absolute;
    top: 62px;
}

.finger4 {
    background-blend-mode:darken;
    background-image: repeating-radial-gradient(aqua, teal, blue);
    background-color: rgb(32, 219, 185);
    width: 10px;
    height: 20px;
    margin-left: 20px;
    border-radius: 95px 5px 95px 5px;
    border-color: rgb(0, 0, 0);
    border-style: double;
    border-width: 3px;
    position: absolute;
    top: 62px;
}


/*############################*/

.coin {
    background-color: #383B3E;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    top: 290px;
    margin-left: 50px;
    border-color: rgb(203, 211, 218);
    border-width: 5px;
    border-style: solid; 
}

.coin1 {
    background-image: url('/NFTMARKETPLACE/cryptosquirrel/assets/images/BTC-100px.png');
    background-position: center;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    top: 250px;
    margin-left: 30px;
    border-color: rgb(203, 211, 218);
    border-width: 5px;
    border-style: solid;
}

.ethTop {
    width: 0; 
    height: 0; 
    margin-left: 18px;
    top: 10px;
    position: absolute;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 35px solid rgb(126, 157, 211);
}

.ethBottom {
    width: 0; 
    height: 0; 
    margin-left: 18px;
    top: 47px;
    position: absolute;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 35px solid rgb(90, 117, 164);
}


/*############################*/

.surfBoard {
    width: 220px;
    height: 40px;
    background-image:  linear-gradient(135deg, #1c1c1c 25%, transparent 25%), 
        linear-gradient(225deg, #1c1c1c 25%, transparent 25%), 
        linear-gradient(45deg, #1c1c1c 25%, transparent 25%), 
        linear-gradient(315deg, #1c1c1c 25%, #ffffff 25%);
    background-color: #1c1c1c;
    background-blend-mode:darken;
    border-radius: 99px 25px 99px 15px;
    background-size: 22px 22px;
    background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-repeat: repeat;
    top: 450px;
    position: absolute;
    transform:skew(-55deg);
    margin-left: 0px;
    border-color: #1c1c1c;
    border-style: double;
    border-width: 20px;
}

.surfBoard2 {
    width: 230px;
    height: 46px;
    background-image:  linear-gradient(135deg, #1c1c1c 25%, transparent 25%), 
        linear-gradient(225deg, #1c1c1c 25%, transparent 25%), 
        linear-gradient(45deg, #1c1c1c 25%, transparent 25%), 
        linear-gradient(315deg, #1c1c1c 25%, #ffffff 25%);
    background-color: #1c1c1c;
    background-blend-mode:darken;
    border-radius: 99px 25px 99px 15px;
    background-size: 22px 22px;
    background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-repeat: repeat;
    top: 448px;
    position: absolute;
    transform:skew(-55deg);
    margin-left: -5px;
    border-color: #ffffff;
    border-style: double;
    border-width: 20px;
}

.surfBoardFin {
    width: 0px;
    height: 0px;
    top: 468px;
    position: absolute;
    margin-left: 190px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid rgb(90, 90, 90);
    border-radius: 5px 25px 5px 75px;
    transform:skew(30deg);
    -ms-transform-origin-x: 70px;
    border-color: rgb(30, 30, 30);
    border-style: double;
    background-color: aquamarine;
    background-blend-mode:difference;
}

.surfBoardFinB {
    width: 0px;
    height: 0px;
    top: 465px;
    position: absolute;
    margin-left: 183px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 45px solid rgb(90, 90, 90);
    border-radius: 5px 25px 5px 75px;
    transform:skew(30deg);
    -ms-transform-origin-x: 70px;
    border-color: #ffffff;
    border-style: solid;
    background-color: aquamarine;
    background-blend-mode:difference;
}

.surfBoardFin2 {
    width: 0px;
    height: 0px;
    top: 480px;
    position: absolute;
    margin-left: 125px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid rgb(83, 83, 83);
    border-radius: 5px 25px 5px 75px;
    transform:skew(30deg);
    -ms-transform-origin-x: 70px;
    border-color: rgb(35, 35, 35);
    border-style: double;
    background-color: aquamarine;
    background-blend-mode:difference;
}

.surfBoardFin2B {
    width: 0px;
    height: 0px;
    top: 479px;
    position: absolute;
    margin-left: 120px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 35px solid rgb(83, 83, 83);
    border-radius: 5px 25px 5px 75px;
    transform:skew(30deg);
    -ms-transform-origin-x: 70px;
    border-color: #ffffff;
    border-style: solid;
    background-color: aquamarine;
    background-blend-mode:difference;
}



/*############################*/


#surfBoardColorRBG {
    color: white;
    font-size: 9px;
    margin-left: 5px;
}

#bodyAndLimbsColorRBG {
    color: white;
    font-size: 9px;
    margin-left: 5px;
}

#tailBellyColorRBG {
    color: white;
    font-size: 9px;
    margin-left: 5px;
}

#bgColorRBG {
    color: white;
    font-size: 9px;
    margin-left: 5px;
}

#eyeShapeText {
    color: white;
    font-size: 9px;
    margin-left: 5px;
}

#tailspinShapeText {
    color: white;
    font-size: 9px;
    margin-left: 5px;
}

#teethShapeText {
    color: white;
    font-size: 9px;
    margin-left: 5px;
}

#coinShapeText {
    color: white;
    font-size: 9px;
    margin-left: 5px;
}

#animationText {
    color: white;
    font-size: 9px;
    margin-left: 5px;
}

#animationText2 {
    color: white;
    font-size: 9px;
    margin-left: 5px;
}

#animationText3 {
    color: white;
    font-size: 9px;
    margin-left: 5px;
}

#animationText4 {
    color: white;
    font-size: 9px;
    margin-left: 5px;
}

#animationText5 {
    color: white;
    font-size: 9px;
    margin-left: 5px;
}

#animationText6 {
    color: white;
    font-size: 9px;
    margin-left: 5px;
}

#animationText7 {
    color: white;
    font-size: 9px;
    margin-left: 5px;
}

#animationBGText {
    color: white;
    font-size: 9px;
    margin-left: 5px;
}


/*############################*/


.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #0075ff;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #0075ff;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 25px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }